.container--full-width {
  background: #ccc;
}

.navbar {
  max-width: var(--app-width);
  display: flex;
  font-size: 1.8rem;
  margin-left: 2rem;
  // margin: 0 auto;

  &__item {
    min-height: 3rem;
    font-weight: 500;

    a {
      display: inline-block;
      padding: 1rem 1.15rem;
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      background: orange;
    }
  }
}
